<!--#layout("/common/layout.html",{"jsBase":"/js/users/users/"}){ -->
<layui:searchForm formId="searchForm"  condition="${search}">
</layui:searchForm>

<div class="layui-btn-group">
    <layui:accessButton function="users.add"  action="add">增加</layui:accessButton>
    <layui:accessButton function="users.edit"  action="edit">编辑</layui:accessButton>
    <layui:accessButton function="users.del"  action="del">删除</layui:accessButton>
</div>

<table id="usersTable" lay-filter="usersTable"></table>
<!--#} -->
<script>

layui.use(['index'], function(){
    var index = layui.index
    index.init();
});

</script>
